<div class="marquee-container">
  <div>
    <div class="flex gap-4 overflow-x-auto py-2">

      @for (topcard of topcards; track topcard.id) {

      <div class="flex-shrink-0 w-[150px]">

        <mat-card class="shadow-sm rounded-xl hover:shadow-md transition bg-light-{{ topcard.color}} h-full">

          <mat-card-content class="flex flex-col items-center justify-center text-center gap-2 p-3">

            <!-- ICON -->
            <div class="w-25 h-10 flex items-center justify-center">
              <img [src]="topcard.img" class="w-7 h-7 object-contain" />
            </div>

            <!-- TITLE -->
            <h4 class="text-[11px] font-medium whitespace-nowrap text-center">
              {{ topcard.title }}
            </h4>

            <!-- VALUE -->
            <h6 class="text-lg font-bold leading-none whitespace-nowrap text-center"
              [ngClass]="'text-' + topcard.color">
              {{ topcard.subtitle }}
            </h6>

          </mat-card-content>

        </mat-card>

      </div>

      }

    </div>

    <!-- duplicate for seamless loop -->
    <!-- @for (topcard of topcards; track topcard) {
    <div class="marquee-item">
      <mat-card class="shadow-none text-center mb-0! bg-light-{{ topcard.color }}">
        <mat-card-content>
          <img [src]="topcard.img" alt="{{ topcard.title }}" width="40" class="mx-auto w-auto" />
          <h4 class="text-sm font-semibold text-{{ topcard.color }} mt-2!">
            {{ topcard.title }}
          </h4>
          <h6 class="text-xl font-semibold text-{{ topcard.color }} mt-2!">
            {{ topcard.subtitle }}
          </h6>
        </mat-card-content>
      </mat-card>
    </div>
    } -->
  </div>
</div>