<div class="flex h-screen w-full items-center justify-center overflow-hidden p-2">
  <mat-card class="cardWithShadow overflow-hidden auth-card mx-auto mb-0">
    <div class="grid grid-cols-12 gap-6">
      <div class="lg:col-span-6 col-span-12 flex items-stretch">
        <div class="w-full p-10 flex flex-col justify-center aling-center">
          <div class="text-center">Your Social Campaigns</div>

          <form [formGroup]="form" (ngSubmit)="submit()" class="mt-8">
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block text-start">Username</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput formControlName="uname" />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block text-start">Password</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <div class="flex items-center justify-between mb-3">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary font-semibold no-underline text-sm">Forgot Password
                ?</a>
            </div>
            <button mat-flat-button color="primary" type="submit" [disabled]="loading" class="w-full relative flex items-center justify-center h-11 rounded-lg transition-all duration-200
         disabled:opacity-70 disabled:cursor-not-allowed">

              <!-- Spinner (center absolute) -->
              <span *ngIf="loading"
                class="absolute w-5 h-5 border-2 border-blue-500 border-t-transparent rounded-full animate-spin">
              </span>

              <!-- Text -->
              <span [class.opacity-0]="loading" class="transition-all duration-200">
                Sign Up
              </span>

            </button>

          </form>
          <span class="block font-medium text-center mt-6">New to Modernize?
            <a [routerLink]="['/authentication/register']" class="no-underline text-primary font-medium text-sm">
              Create an account</a>
          </span>
        </div>
      </div>
      <div class="lg:col-span-6 col-span-12 relative hidden lg:flex justify-center items-stretch bg-light p-5">
        <div class="flex items-center justify-center w-full">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="login" class="img-fluid object-cover" />
        </div>
      </div>
    </div>
  </mat-card>
</div>