<mat-card class="cardWithShadow theme-card w-full max-w-none">
    <div class="p-4 flex justify-between items-center">

        <!-- <mat-card-title class="mb-0">
            Data Karyawan
        </mat-card-title> -->
        <mat-form-field appearance="outline" class="w-[150px]">
            <mat-label>Search Karyawan</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Cari nama, email, NIK...">
        </mat-form-field>
        <!-- BUTTON TAMBAH -->
        <button
            class=" hover:bg-blue-400 px-4 py-2 rounded-lg text-sm font-medium flex items-center gap-2 shadow-sm transition cursor-pointer"
            (click)="openAdd()">

            <mat-icon class="text-sm">add</mat-icon>
            Tambah
        </button>

    </div>

    <mat-card-content class="border-t border-border">
        <div class="relative overflow-auto">
            <table mat-table [dataSource]="dataSource" class="min-w-full">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
                        No
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.id }}
                    </td>
                </ng-container>

                <!-- NAMA -->
                <ng-container matColumnDef="nama">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm whitespace-nowrap">
                        Nama
                    </th>

                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                        <h6 class="text-sm font-semibold">
                            {{ element.nama }}
                        </h6>
                    </td>
                </ng-container>

                <!-- NIK -->
                <ng-container matColumnDef="nik">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
                        NIK
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.nik }}
                    </td>
                </ng-container>

                <!-- EMAIL -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
                        Email
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.email }}
                    </td>
                </ng-container>
                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm text-center">
                        Status
                    </th>

                    <td mat-cell *matCellDef="let element" class="text-center whitespace-nowrap">
                        @if(element.status == 'aktif') {
                        <span class="bg-green-100 text-green-700 rounded font-semibold px-3 py-1 text-xs">
                            Aktif
                        </span>
                        } @else {
                        <span class="bg-red-100 text-red-700 rounded font-semibold px-3 py-1 text-xs">
                            Non-Aktif
                        </span>
                        }

                    </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
                        Phone
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.phone }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="jabatan">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm whitespace-nowrap">
                        Jabatan
                    </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                        {{ element.nama_jabatan }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="departemen">
                    <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm whitespace-nowrap">
                        Departemen
                    </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                        {{ element.nama_departemen }}
                    </td>
                </ng-container>

                <!-- ACTION -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" class="text-end">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="goToView(element)">
                                <mat-icon>visibility</mat-icon>
                                <span>View</span>
                            </button>
                            <button mat-menu-item (click)="openEdit(element)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteData(element.id_karyawan)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>